
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
.leftColumn {
  background-color: black;
  display: flex;
  justify-content: flex-end;
}
.story {
  font-family:'Montserrat', sans-serif;
}

.rightColumn {
  background-color: white;
}

.leftColumn,
.rightColumn {
  height: 700px;
  margin-top: -5em;
}

.text {
  margin-top: 6em;
  width: 50%;
}

.heading {
  text-align: right;
}

.description {
  text-align: justify;
  font-size: 11px;
  color: #646464;
  line-height: 1.75;
  padding: 0.5em;
  padding-left: 1.5em;
  font-family: 'Merriweather', serif;

}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -9em;
}

.boxes2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackBox1 {
  width: 140px;
  height: 140px;
  transform: rotate(360deg);
  background-color: #333333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight:bold;
}

.blackBox2 {
  width: 140px;
  height: 140px;
  transform: rotate(360deg);
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight:bold;

}

.blackBox3 {
  width: 140px;
  height: 140px;
  transform: rotate(360deg);
  background-color: #0d0c0c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -2em;
  margin-left: 2em;
  font-weight: bold;
}

.blackBox4 {
  width: 140px;
  height: 140px;
  padding:1em;
  transform: rotate(360deg);
  background-color: #f1f1f1;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  margin-top: 2em;
  margin-left: 2em;
}
.milestone {
  font-weight:normal;
}
.opacity {
  font-size:1em;
  opacity:0.77;
  font-weight:normal;
}


.stat {
  font-size: 1.5em;
}

.empty {
  margin-top: 2em;
  width: 2em;
}

.image {
  width: 60%;
  height: auto;
}

.imageMob {
  display: none;
}

@media only screen and (max-width:500px) {

  .leftColumn,
  .rightColumn {
    height: auto;
    margin-top: 0em;
  }

  .leftColumn {
    display: none;
  }

  .imageMob {
    display: inline-block;
    width: 150px;
    height: 100px;
    background: black;
  }

  .heading {
    display: inline-block;
    text-align: right;
    padding-left: 1em;
  }

  .text {
    margin-top: 2em;
    width: 90%;
  }

  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
  }
  .description{
    font-size:1em;
  }
}
