.marginTop {
  margin-top: 3em;
}

.center {
  text-align: left;
  font-weight: bold;
}

.centerText {
  text-align: center;
}

.textRight {
  text-align: right;
}

.centerBlock {
  width: 60%;
  margin: 0 auto;
}

.marginTopLess {
  margin-top: 2em;
}

.whatwedo {
  margin-bottom: 2em;
  color: #505050;
  margin-top: 6em;
}

.arrow {
  display: none;
  margin: auto;
}

.image {
  width: 100%;
  height: auto;
  margin-top: 3em;
}

.center {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageMob {
  display: none;
}

@media only screen and (max-width:500px) {
  .arrow {
    height: 20px;
    display: block;
    margin: auto;
    margin: 20px auto;
  }

  .marginTopLess {
    margin-top: 0em;
  }

  .image {
    display: none;
  }

  .imageMob {
    width: 100%;
    height: auto;
    display: block;
    margin:1em;
  }
}
