.productHeader {
  margin-left: 11em;
  margin-bottom: 0;
}

.productHeaderSmall {
  color: #505050;
}

.product1 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  transform: rotate(45deg);
  background: #fafafa;
}

.product1name {
  transform: rotate(-45deg)
}

.product2 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  transform: rotate(45deg);
  background: #fafafa;
  margin-left: -206px;
  margin-top: -34px;
  margin-right: -73px;
}

.product2name {
  transform: rotate(-45deg)
}

.product3 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  transform: rotate(45deg);
  background: #fafafa;
  margin-left: -206px;
  margin-top: -34px;
  margin-right: -73px;
}

.product3name {
  transform: rotate(-45deg)
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.image {
  text-align: center;
  margin: -100px 0 -200px 0;
  width: 50%;
  height:auto;
}
