.proposal {
  margin-top: 3em;
}

.proposalBlock {
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: right;
}

.para {
  float: right;
  width: 60%;
  color: #505050
}

.clearfix {
  clear: both;
}

.button {
  margin-top: 1em;
  transition: background-color 0.5s ease;
  background-color: white;
  padding: 0.2em 2em;
  border: 1px solid black;
}

.button:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width:500px) {
  .proposal {
    text-align: center;
  }

  .proposalBlock {
    width: 100%;
    text-align: center;
  }

  .heading {
    text-align: center;
  }

  .para {
    float: none;
    margin: 0 auto;
    width: 90%;
  }

  .center {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
