.proposalBlock {
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}

.proposal {
  margin-top: 2em;
  background-color: #f9f9f9;
  padding-left: 6em;
}

.marginLeft {
  margin-left: 5em;
}

.para {
  width: 70%;
  color: #505050
}

.clearfix {
  clear: both;
}

.image {
  float: right;
  margin-top:2em;
  width: 20%;
}
.button {
  margin-top: 1em;
  transition: background-color 0.5s ease;
  background-color: black;
  color: white;
  padding: 0.2em 3em;
  border: 1px solid black;
}

.button:hover {
  background-color: white;
  color: black;
}
.name{
  color:white;
  text-decoration: none;
}
.name:hover{
  text-decoration: none;
  color:black;
}
@media only screen and (max-width:500px) {
  .proposal {
    margin-top: 4em;
    background-color: #f9f9f9;
    padding-left: 0em;
    margin: auto;
  }

  .proposalBlock {
    margin: auto;
    width: 90%;
  }
  .centerImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image {
    margin-bottom:1em;
    float: none;
    text-align:center;
  }
  .button {
    text-align: center;
    margin: 0 auto;
  }

  .heading {
    text-align: center;
  }

  .para {
    width: 100%;
    text-align: center;
  }

  .marginLeft {
    margin-left: 0;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
